body {
margin: 0;
padding: 0;
  background-image: url("http://i280.photobucket.com/albums/kk162/stephanie8561/37881036-popcorn-doodle-drawing-seamless-pattern-background-Stock-Vector%204_zpszdzqnrpx.jpg");
}
.my-container {
position: absolute;
margin-left: 400px;
margin-top: 200px;
}

.pure-button {
  background-color: orange;
}

h1{
font-family: 'Fascinate Inline', cursive;
     font-size: 90px;
     color: crimson;

}

h2 {
  font-size: 55px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 210px;
  text-decoration: underline;
}

.search-area {
  padding-left: 175px;
}


h4 {
  padding-left: 160px;
  font-size: 30px;
  display:inline;
}

p {
  padding-left: 160px;
  font-size: 20px;
}

img {
  border-style: solid;
  border-width: 5px;
  border-color: orange;
  margin-left: 160px;
  margin-bottom: 30px;
}
.content li{
    text-transform: lowercase;
    margin-bottom: 1em;
}
.content span {
    text-transform: capitalize;
}
.name{
    font-weight: bold;
}
.addr:after{
    content: ',';
}
.fa-refresh{
    font-size: 5em;
    color: #999;
    position: relative;
    left: 35%;
    margin-top: 1em;
}
